doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title fpomg 😱 the URL-based FPO image API
    link(rel="stylesheet" href="./index.scss")
  body

    include components/header/header

    main  
      p Et in in nostrud esse dolor. Aliqua velit eiusmod velit consequat. Voluptate amet id pariatur quis minim reprehenderit nulla eu minim. Laborum 

    include components/footer/footer

    script(src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js")
    script(src="./index.js")