@import "./styles/helpers";

@import "./styles/resets.scss";
@import "./styles/colors.scss";
@import "./styles/typography.scss";
@import "./styles/utilities.scss";

@import "components/header/header.scss";
@import "components/footer/footer.scss";

:root {
  --base-space: 8px;
  --content-width: 1440px;
  --gutter: 24px;

  --cubic-bezier-in: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --cubic-bezier-out: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--grey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}