@use "sass:math";

@function space-by($n: 1) {
  @return calc(var(--base-space) * $n);
}

@mixin full-absolute($inset: 0) {
  bottom: $inset;
  left: $inset;
  position: absolute;
  right: $inset;
  top: $inset;
}

@mixin focus-style {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-black);
}