header.header
  h1.header__title
    img(src="" alt="fpomg")
    span the URL-based custom FPO image API

  img.header__scroll-hint(src="" alt="Arrow pointing down.")

  ul.header__features
    li basic 
    li custom color 
    li custom text