.header {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 20px 200px;
  align-items: center;
  justify-content: center;
}

.header__title {

}

.header__scroll-hint {
  display: block;
  margin: auto;
  pointer-events: none;
}

.header__features {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 12px;
  }
}